body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

/** See comment in app.ts's constructor */
.no-scrollbars {
    overflow: hidden;
}

/* Global link settings */
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

/* Toolbar settings */
.toolbar {
    background-color: #4667CA;
    color: white;
    width: 100%;
    height: 30px;
    font-size:10pt;

}
.toolbar-left {
    float: left;
    padding: 4px;
}
.toolbar-right {
    float: right;
    padding: 4px;
    padding-right: 10px;
}
a.toolbar-link {
    color: white;
}
a.toolbar-message {
    color:white;
    font-weight: bold;
}


/* Wait screen */
.wait-screen {
    background-image: url("images/wait.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: .5;
    z-index: 1000;
}

#error-panel {
    background-color: #fca600;
    border: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    min-height: 20px;
    z-index: 1000;
    padding: 0px;
    overflow: hidden;
}
#error-panel .header {
    width: 100%;
    font-size: 13px;
    height: 15px;
    background-color: #777777;
    color: white;
}
#error-panel .header-text {
    width: 90%;
    text-align: center;
    float: left;
}
#error-panel .header-close-button {
    width: 18px;
    text-align: left;
    float: right;
    font-weight: bold;
}
#error-panel .error-message {
    padding: 3px;
}
.error-message {
    color: black;
}
a.error-message {
    font-weight: bold;
}
a.close {
    color: #FFFFFF;
}
