#panel-menu {
    background: white;
    border: 2px solid #777777;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 3px;
    border-radius: 10px;
    z-index: 100;
}

/** Blinking image */
img.blink {
    -webkit-animation-name: blink; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 30;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 30;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Standard syntax */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}