#control-panel {
    background: white;
    position: fixed;
    right: 75px; /* Will be recalculated if health icon is shown */
    bottom: 10px;
    width: 530px;
    max-height: 300px;
    border: 2px solid #CCCCCC;
    border-collapse: collapse;;
    border-radius: 6px;
    /*overflow: scroll;*/
    z-index: 15;
    padding-bottom: 5px;
}
.header {
    width: 524px;
    font-size: 13px;
    height: 15px;
    background-color: #777777;
    color: white;
    padding: 3px;
}
.header-text {
    width: 95%;
    text-align: center;
    float: left;
}
.header-close-button {
    width: 18px;
    text-align: right;
    float: right;
    font-weight: bold;
}
.form {
    margin: 0px;
}
.filter {
    padding-top: 2px;
    padding-bottom: 1px;
}
a.close {
    color: #FFFFFF;
}
.column {
    font-size: 11px;
    color: #777777;
    float: left;
    padding: 10px 10px 0px 8px;
    height: 100%;
    vertical-align: top;
}
.general-width {
    width: 162px; /* +8 padding = 170 */
}
.filters-width {
    width: 102px; /* + 8 padding = 110 */
}
.filter-width {
    width: 212px;
}
.setting-header {
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
}
.sub-header {
    color: #7F7F7F;
    font-style: italic;
}

.setting-content {
    color: #222222;
    overflow: auto;
    height: 250px;
}
.setting-content-small {
    color: #222222;
}
.clickable {
    cursor: pointer;
}
.setting-entry {
    white-space: nowrap;
}
.setting-input {
    width: 100%;
    font-size: 11px;
}
.filter {
    text-decoration: none;
    color: #222222;
    min-height: 15px;
}
.selected {
    color: #EEEEEE;
    background: #777777;
}
.hasFilters {
    font-weight: bold;
}
.top-space {
    padding-top: 5px;
}