<div id="control-panel" *ngIf="boardData.initialized" [ngStyle]="{'right': 75 + rightOffset}">
    <form [ngFormModel]="controlForm" #f="ngForm" class="form">
        <div class="header">
            <div class="header-text">Board Settings</div>
            <div class="header-close-button">
                <a href="close" class="close" (click)="onClickClose($event)">X</a>
            </div>
        </div>
        <div class="column general-width">
            <div class="setting" ngControlGroup="detail">
                <div class="setting-header"><a href="{{linkUrl}}">Link</a></div>
                <div class="setting-content-small">
                    <div>
                        <input type="text" value="{{linkUrl}}" id="link" class="setting-input" readonly/>
                    </div>
                </div>
            </div>
            <div class="setting top-space" *ngIf="showSwimlane">
                <div class="setting-header clickable" (click)="clearSwimlane($event)" title="Clear swimlane">Swimlane</div>
                <div class="setting-content-small">
                    <select ngControl="swimlane" class="setting-input" >
                        <!-- Don't set a value for the undefined one -->
                        <option></option>
                        <option value="project">Project</option>
                        <option value="priority">Priority</option>
                        <option value="issue-type">Issue Type</option>
                        <option value="assignee">Assignee</option>
                        <option value="component">Component</option>
                        <option *ngFor="let customFieldValues of customFields" value="{{customFieldValues.name}}">{{customFieldValues.name}}</option>
                    </select>
                </div>
            </div>
            <div class="setting top-space" ngControlGroup="detail">
                <div class="setting-header clickable" (click)="clearDetail($event)" title="Show all details">Issue Detail</div>
                <div class="setting-content-small">
                    <div>
                        <input type="checkbox" ngControl="assignee" id="detail-assignee"/>
                        <label for="detail-assignee">Assignee</label>
                    </div>
                    <div>
                        <input type="checkbox" ngControl="description" id="detail-description"/>
                        <label for="detail-description">Description</label>
                    </div>
                    <div>
                        <input type="checkbox" ngControl="info" id="detail-info"/>
                        <label for="detail-info">Info</label>
                    </div>
                    <div>
                        <input type="checkbox" ngControl="linked" id="detail-linked"/>
                        <label for="detail-linked">Linked issues</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column filters-width">
            <div class="setting">
                <div class="setting-header clickable" title="{{filtersTooltip}}" (click)="clearFilters($event)">Filters</div>
                <div class="setting-content">
                    <div [ngClass]="filtersToDisplay === 'project' ? 'filter selected' : 'filter'" title="{{filterTooltips['project']}}">
                        <a href="Filter Project" (click)="onSelectFiltersToDisplay($event, 'project')"
                           [ngClass]="getFilterLinkClass('project')">Project</a></div>

                    <div [ngClass]="filtersToDisplay === 'issue-type' ? 'filter selected' : 'filter'" title="{{filterTooltips['issue-type']}}">
                        <a href="Filter Issue Type" (click)="onSelectFiltersToDisplay($event, 'issue-type')"
                           [ngClass]="getFilterLinkClass('issue-type')">Issue Type</a></div>

                    <div [ngClass]="filtersToDisplay === 'priority' ? 'filter selected' : 'filter'" title="{{filterTooltips['priority']}}">
                        <a href="Filter Priority" (click)="onSelectFiltersToDisplay($event, 'priority')"
                           [ngClass]="getFilterLinkClass('priority')">Priority</a></div>

                    <div [ngClass]="filtersToDisplay === 'assignee' ? 'filter selected' : 'filter'" title="{{filterTooltips['assignee']}}">
                        <a href="Filter Assignee" (click)="onSelectFiltersToDisplay($event, 'assignee')"
                           [ngClass]="getFilterLinkClass('assignee')">Assignee</a></div>

                    <div [ngClass]="filtersToDisplay === 'component' ? 'filter selected' : 'filter'" title="{{filterTooltips['component']}}">
                        <a href="Filter Component" (click)="onSelectFiltersToDisplay($event, 'component')"
                           [ngClass]="getFilterLinkClass('component')">Component</a></div>
                    <div *ngFor="let customField of customFields"
                            [ngClass]="filtersToDisplay === customField.name ? 'filter selected' : 'filter'" title="{{filterTooltips[customField.name]}}">
                        <a href="Filter {{customField.name}}" (click)="onSelectFiltersToDisplay($event, customField.name)"
                           [ngClass]="getFilterLinkClass(customField.name)">{{customField.name}}</a></div>

                </div>
            </div>
        </div>
        <div class="column filter-width">
            <div class="setting" *ngIf="!filtersToDisplay">
                <div class="setting-header">Select A Filter</div>
                <div class="setting-content">
                    <div>No Filter has been selected.</div>
                    <div>Select a filter from the Filters column to view/edit filters for that category.</div>
                </div>
            </div>
            <div class="setting" *ngIf="filtersToDisplay === 'project'">
                <div class="setting-header clickable" (click)="clearFilter($event, 'project')" title="Clear filter">Project Filter</div>
                <div class="setting-content" ngControlGroup="project">
                    <div *ngFor="let project of boardProjectCodes" class="setting-entry">
                        <input type="checkbox" ngControl="{{project}}" id="project-{{project}}"/>
                        <label [attr.for]="'project-'+project">{{project}}</label>
                    </div>
                </div>
            </div>
            <div class="setting" *ngIf="filtersToDisplay === 'priority'">
                <div class="setting-header clickable" (click)="clearFilter($event, 'priority')" title="Clear filter">Priority Filter</div>
                <div class="setting-content" title="Scroll me!" ngControlGroup="priority">
                    <div *ngFor="let priority of priorities" class="setting-entry">
                        <input type="checkbox" ngControl="{{priority.name}}" id="priority-{{priority.name}}"/>
                        <label [attr.for]="'priority-' + priority.name">{{priority.name}}</label>
                    </div>
                </div>
            </div>
            <div class="setting" *ngIf="filtersToDisplay === 'issue-type'">
                <div class="setting-header clickable" (click)="clearFilter($event, 'issue-type')" title="Clear filter">Issue Type Filter</div>
                <div class="setting-content" title="Scroll me!" ngControlGroup="issue-type">
                    <div *ngFor="let issueType of issueTypes" class="setting-entry">
                        <input type="checkbox" ngControl="{{issueType.name}}" id="type-{{issueType.name}}"/>
                        <label [attr.for]="'type-' + issueType.name">{{issueType.name}}</label>
                    </div>
                </div>
            </div>
            <div class="setting" *ngIf="filtersToDisplay === 'assignee'">
                <div class="setting-header clickable" (click)="clearFilter($event, 'assignee')" title="Clear filter">Assignee Filter</div>
                <div class="setting-content" title="Scroll me!" ngControlGroup="assignee">
                    <div class="setting-entry">
                        <input type="checkbox" ngControl="{{none}}" id="assignee-$none$none"/>
                        <label for="assignee-$none$none">None</label>
                    </div>
                    <div *ngFor="let assignee of assignees" class="setting-entry">
                        <input type="checkbox" ngControl="{{assignee.key}}" id="assignee-{{assignee.name}}"/>
                        <label [attr.for]="'assignee-' + assignee.name">{{assignee.name}}</label>
                    </div>
                </div>
            </div>
            <div class="setting" *ngIf="filtersToDisplay === 'component'">
                <div class="setting-header clickable" (click)="clearFilter($event, 'component')" title="Clear filter">Component Filter</div>
                <div class="setting-content" title="Scroll me!" ngControlGroup="component">
                    <div class="setting-entry">
                        <input type="checkbox" ngControl="{{none}}" id="component-$none$none"/>
                        <label for="component-$none$none">None</label>
                    </div>
                    <div *ngFor="let component of components" class="setting-entry">
                        <input type="checkbox" ngControl="{{component.name}}" id="component-{{component.name}}"/>
                        <label [attr.for]="'component-' + component.name">{{component.name}}</label>
                    </div>
                </div>
            </div>
            <div *ngFor="let customFieldValues of customFields">
                <div class="setting" *ngIf="filtersToDisplay === customFieldValues.name">
                    <div class="setting-header clickable" (click)="clearFilter($event, customFieldValues.name)"
                         title="Clear filter">{{customFieldValues.name}} Filter</div>
                    <div class="setting-content" title="Scroll me!" ngControlGroup="{{customFieldValues.name}}">
                        <div class="setting-entry">
                            <input type="checkbox" ngControl="{{none}}" id="custom-{{customFieldValues.name}}-{{none}}"/>
                            <label [attr.for]="'custom-' + customFieldValues.name + '-' + none">None</label>
                        </div>
                        <div *ngFor="let customFieldValue of customFieldValues.values.array" class="setting-entry">
                            <input type="checkbox" ngControl="{{customFieldValue.key}}"
                                   id="custom-{{customFieldValues.name}}-{{customFieldValue.key}}"/>
                            <label [attr.for]="'custom-' + customFieldValues.name + '-' + customFieldValue.key">{{customFieldValue.displayValue}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>