<div id="control-panel" *ngIf="boardData.initialized">
    <form [ngFormModel]="controlForm" #f="ngForm">
        <div class="header">
            <div class="header-text">Board Settings</div>
            <div class="header-close-button">
                <a href="close" class="close" (click)="onClickClose($event)">X</a>
            </div>
        </div>
        <div class="column">
            <div class="setting" ngControlGroup="detail">
                <div class="setting-header"><a href="{{linkUrl}}">Link</a></div>
                <div class="setting-content-small">
                    <div>
                        <input type="text" value="{{linkUrl}}" id="link" readonly/>
                    </div>
                </div>
            </div>
            <div class="setting">
                <div class="setting-header clickable" (click)="clearSwimlane($event)" title="Clear swimlane">Swimlane</div>
                <div class="setting-content-small">
                    <select ngControl="swimlane">
                        <!-- Don't set a value for the undefined one -->
                        <option></option>
                        <option value="project">Project</option>
                        <option value="priority">Priority</option>
                        <option value="issue-type">Issue Type</option>
                        <option value="assignee">Assignee</option>
                        <option value="component">Component</option>
                    </select>
                </div>
            </div>
            <div class="setting" ngControlGroup="detail">
                <div class="setting-header clickable" (click)="clearDetail($event)" title="Show all details">Issue Detail</div>
                <div class="setting-content-small">
                    <div>
                        <input type="checkbox" ngControl="assignee" id="detail-assignee"/>
                        <label for="detail-assignee">Assignee</label>
                    </div>
                    <div>
                        <input type="checkbox" ngControl="description" id="detail-description"/>
                        <label for="detail-description">Description</label>
                    </div>
                    <div>
                        <input type="checkbox" ngControl="info" id="detail-info"/>
                        <label for="detail-info">Info</label>
                    </div>
                    <div>
                        <input type="checkbox" ngControl="linked" id="detail-linked"/>
                        <label for="detail-linked">Linked issues</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" ngControlGroup="project">
            <div class="setting">
                <div class="setting-header clickable" (click)="clearFilter($event, 'project')" title="Clear filter">Project Filter</div>
                <div class="setting-content">
                    <div *ngFor="let project of boardProjectCodes">
                        <input type="checkbox" ngControl="{{project}}" id="project-{{project}}"/>
                        <label [attr.for]="'project-'+project">{{project}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" ngControlGroup="priority">
            <div class="setting">
                <div class="setting-header clickable" (click)="clearFilter($event, 'priority')" title="Clear filter">Priority Filter</div>
                <div class="setting-content" title="Scroll me!">
                    <div *ngFor="let priority of priorities">
                        <input type="checkbox" ngControl="{{priority.name}}" id="priority-{{priority.name}}"/>
                        <label [attr.for]="'priority-' + priority.name">{{priority.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" ngControlGroup="issue-type">
            <div class="setting">
                <div class="setting-header clickable" (click)="clearFilter($event, 'issue-type')" title="Clear filter">Issue Type Filter</div>
                <div class="setting-content" title="Scroll me!">
                    <div *ngFor="let issueType of issueTypes">
                        <input type="checkbox" ngControl="{{issueType.name}}" id="type-{{issueType.name}}"/>
                        <label [attr.for]="'type-' + issueType.name">{{issueType.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" ngControlGroup="assignee">
            <div class="setting">
                <div class="setting-header clickable" (click)="clearFilter($event, 'assignee')" title="Clear filter">Assignee Filter</div>
                <div class="setting-content" title="Scroll me!">
                    <div>
                        <input type="checkbox" ngControl="{{noAssignee}}" id="assignee-$none$none"/>
                        <label for="assignee-$none$none">None</label>
                    </div>
                    <div *ngFor="let assignee of assignees">
                        <input type="checkbox" ngControl="{{assignee.key}}" id="assignee-{{assignee.name}}"/>
                        <label [attr.for]="'assignee-' + assignee.name">{{assignee.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" ngControlGroup="component">
            <div class="setting">
                <div class="setting-header clickable" (click)="clearFilter($event, 'component')" title="Clear filter">Component Filter</div>
                <div class="setting-content" title="Scroll me!">
                    <div>
                        <input type="checkbox" ngControl="{{noComponent}}" id="component-$none$none"/>
                        <label for="component-$none$none">None</label>
                    </div>
                    <div *ngFor="let component of components">
                        <input type="checkbox" ngControl="{{component.name}}" id="component-{{component.name}}"/>
                        <label [attr.for]="'component-' + component.name">{{component.name}}</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>