.swimlane-name {
    position: relative;
}
td.swimlane-header {
    vertical-align: middle;
    font-size: 11px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}
td.swimlane-empty {
    min-width: 200px;
    max-width: 200px;
    height: 1px;
    max-height: 1px;
}
td.swimlane-empty-collapsed {
    min-width: 30px;
    max-width: 30px;
    height: 1px;
    max-height: 1px;
}
td.swimlane-header:hover {
    background-color: #F0F0F0;
}
