<tr>
    <td class="swimlane-header" [attr.colspan]="boardStates.length" (click)="toggleSwimlane(swimlaneIndex)" title="{{swimlane.name}}">
<!--
        <div class="swimlane-name-holder"><div class="swimlane-name" [ngStyle]="{'left':10 + boardLeftOffset}">{{swimlane.name}}</div></div>
-->
        <div class="swimlane-name-holder"><div class="swimlane-name" [ngStyle]="{'left':10 + boardLeftOffset}">{{swimlane.name}}</div></div>
    </td>
</tr>
<tr *ngIf="swimlane.visible">

    <!-- Backlog collapsed, just show a single backlog column -->
    <td *ngIf="backlogAndIsCollapsed"
        (click)="toggleBacklog($event)"
        class="collapsed backlog-state-summary backlog-cell">
        <div class="collapsed backlog-state-summary" *ngFor="let character of getCharArray('Backlog')">{{character}}</div>
    </td>
    <!-- Backlog visible, show all the possible backlog states -->
    <td *ngFor="let state of backlogStatesIfVisible"
        [ngClass]="visibleColumns[state.index] == true ? 'visible backlog-cell' : 'collapsed backlog-cell'"
        title="State: {{state.name}}">
        <div *ngIf="visibleColumns[state.index]">
            <ul class="issues-list">
                <issue *ngFor="let issue of swimlane.issueTable[state.index]"
                       [issue]="issue" (issueContextMenu)="showIssueContextMenu($event)"></issue>
            </ul>
        </div>
        <div class="collapsed" *ngIf="!visibleColumns[state.index]">
            <div class="state-summary" *ngFor="let character of getCharArray(state.name)">{{character}}</div>
        </div>

    </td>

    <!-- Normal states -->
    <td *ngFor="let state of mainStates" title="State: {{state.name}}"
        [ngClass]="visibleColumns[state.index] == true ? 'visible' : 'collapsed'"
        title="State: {{state.name}}">
        <div *ngIf="visibleColumns[state.index]">
            <ul class="issues-list">
                <issue *ngFor="let issue of swimlane.issueTable[state.index]"
                       [issue]="issue"  (issueContextMenu)="showIssueContextMenu($event)"></issue>
            </ul>
        </div>
        <div class="state-summary" *ngIf="!visibleColumns[state.index]">
            <div class="state-summary" *ngFor="let character of getCharArray(state.name)">{{character}}</div>
        </div>

    </td>
</tr>
<!--
    This is just an empty row for layout purposes, its width shold be the same as the table,
    so use the same logic to select the css classes as above. The reason for this is that
    angular wraps the output for this component in an extra <tbody> tag, so we need to size it ourselves.
-->
<tr *ngIf="!swimlane.visible">
    <td *ngIf="backlogAndIsCollapsed" class="swimlane-empty-collapsed"></td>
    <td *ngFor="let state of backlogStatesIfVisible"
        [ngClass]="visibleColumns[state.index] == true ? 'swimlane-empty' : 'swimlane-empty-collapsed'"></td>
    <td *ngFor="let state of mainStates"
        [ngClass]="visibleColumns[state.index] == true ? 'swimlane-empty' : 'swimlane-empty-collapsed'"></td>
</tr>
