<form (ngSubmit)="executeSql()" [formGroup]="sqlForm" #f="ngForm">
    <textarea cols="100" rows="5" name="sql" formControlName="sql"></textarea>
    <div>
        <button type="submit" [disabled]="!f.form.valid">Execute</button>
    </div>
</form>
<hr/>
<div *ngIf="error">{{error}}</div>
<div *ngIf="result">
    <table border="1">
        <tr>
            <td *ngFor="let header of result.headers">{{header}}</td>
        </tr>
        <tr *ngFor="let row of result.rows">
            <td *ngFor="let val of row">
                <span *ngIf="val">{{val}}</span>
                <span *ngIf="!val">-</span>
            </td>
        </tr>

    </table>
</div>
