<li class="issue" (contextmenu)="triggerShowIssueContextMenu($event, issue.key)" title="{{issue.key}}&#013;{{issue.ownStatus}}&#013;{{issue.summary}}&#013;{{issue.priority.name}}&#013;{{issue.type.name}}"
    *ngIf="!issue.filtered">
    <div class="header" [style.background-color]="issue.colour">
        <div class="summary">
            <span><a href="{{jiraUrl}}/browse/{{issue.key}}" target="_blank"
                     (contextmenu)="defaultContextMenu($event)" class="header">{{issue.key}}</a></span>
        </div>
        <div class="assignee">
            <span title="{{issue.assigneeName}}">{{issue.assigneeInitials}}</span>
            <span><a href="" class="header" (click)="triggerShowIssueContextMenu($event, issue.key)">...</a></span>
        </div>
    </div>
    <div [ngClass]="showAssignee ? 'detail-full' : 'detail-short'" *ngIf="showSummary || showAssignee">
        <div *ngIf="showAssignee">
            <!-- Work around the image url not getting replaced in issueData.ts -->
            <img class="avatar" *ngIf="issue.assigneeAvatar"
                 title="{{issue.assigneeName}}" src="{{issue.assigneeAvatar}}" width="22px" height="26px"/>
            <img class="avatar" *ngIf="!issue.assigneeAvatar"
                 title="{{issue.assigneeName}}" src="../../../../images/person-4x.png" width="22px" height="26px"/>

        </div>
        <div [ngClass]="showAssignee ? 'summary-full' : 'summary-short'">{{issue.summary}}</div>
    </div>
    <div class="info" *ngIf="showInfo">
        <div class="info-icons">
            <img title="{{issue.priorityName}}" src="{{issue.priorityUrl}}"/>
            <img title="{{issue.typeName}}" src="{{issue.typeUrl}}"/>
        </div>
        <div class="info-parallel" *ngIf="parallelTasks" title="{{parallelTasksTitle}}">
            <span *ngFor="let task of parallelTasks"
                  class="parallel-task" [ngStyle]="parallelTaskStyle(task.code)"
                  (click)="triggerShowParallelTaskMenu($event, task.code)">{{task.code}}</span>
        </div>
    </div>
    <div class="clear-float"></div>
    <div class="linked-issues" *ngFor="let linked of issue.linkedIssues"
         title="{{linked.key}}&#013;{{linked.ownStatus}}&#013;{{linked.summary}}"
         [hidden]="!showLinkedIssues">
        <div class="linked-issue">
            <div class="linked-issue-summary">
                <a href="{{jiraUrl}}/browse/{{linked.key}}" target="_blank"
                   (contextmenu)="defaultContextMenu($event)" class="linked-issue-summary">{{linked.key}}</a>
            </div>
            <div class="linked-issue-status">
                <span [style.color]="getLinkedIssueStatusColour(linked)">{{getLinkedIssueStatusFraction(linked)}}</span>
            </div>
        </div>
    </div>
</li>