.issue {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-radius: 3px;
    /*line-height: 20px;*/
    float: left;
    vertical-align: top;
    width: 100%;
    font-size: 11px;
    margin: 3px;
    clear: left;
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;

}
.issue .header{
    color: white;
    font-size: 12px;
    padding: 2px;
    height: 14px;
    width: 100%;
    vertical-align: middle;
}
.header .summary {
    float: left;
    vertical-align: middle;
}
.header .assignee {
    float: right;
    padding-right: 6px;
    vertical-align: middle;
}
.avatar {
    float: right;
    margin-left: 5px;
    max-height: 32px;
    width: 32px;
}
.detail-full {
    padding: 2px;
    height: 28px;
    max-height: 38px;
    font-size: 11px;
}
.summary-full {
    max-height: 28px;
    overflow: hidden;
}
.detail-short {
    padding: 2px;
    height: 14px;
    max-height: 14px;
    font-size: 11px;
}
.summary-short {
    max-height: 14px;
    overflow: hidden;
}
.info {
    border-top: inherit;
    white-space: nowrap;
    min-height: 17px;
    max-height: 17px;
}
.info-icons {
    padding-left: 3px;
    float: left;
    width: 25%;
    vertical-align: middle;
}
.info-parallel {
    padding-right: 3px;
    text-align: right;
    float: right;
    width: 70%;
    vertical-align: middle;
}
.parallel-task {
    margin: 1px;
    padding: 1px;
    font-weight: bold;
    color: #555555;
    cursor: pointer;
}
.clear-float {
    clear: both;
}
.linked-issues {
    white-space: nowrap;
    border-top: inherit;
}
.linked-issue-summary {
    float: left;
    width: 50%;
    padding: 1px 2px 1px 10px;
}
a.linked-issue-summary {
    color: #666666;
}
.linked-issue-status {
    text-align: right;
    float: left;
    width: 40%;
    padding: 2px
}
img.jira-icon {
    height: 16px;
    width: 16px;
}