<header>
    <h1 class="title">Login</h1>
</header>
<form (ngSubmit)="onSubmit()" [ngFormModel]="form" #f="ngForm">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" id="username" ngControl="username" (keyup)="clearError()" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="password" ngControl="password" (keyup)="clearError()" /></td>
        </tr>
    </table>
    <button type="submit" [disabled]="!f.form.valid">Login</button>
</form>
<div *ngIf="error"><strong>Bad username/password, or you do not have the correct permissions to view the project</strong></div>