<div (window:focus)="onFocus($event)" (window:blur)="onBlur($event)" (click)="hideMenus()">

    <kanban-view *ngIf="view === 'kbv'"
            [boardCode]="boardCode"
            [issuesService]="issuesService"
            [boardData]="boardData"
            (showIssueContextMenu)="onShowIssueContextMenu($event)"
            (showParallelTaskMenu)="onShowParallelTaskMenu($event)">
    </kanban-view>
    <rank-view *ngIf="view === 'rv'"
            [boardCode]="boardCode"
            [issuesService]="issuesService"
            [boardData]="boardData"
            (showIssueContextMenu)="onShowIssueContextMenu($event)"
            (showParallelTaskMenu)="onShowParallelTaskMenu($event)">
    </rank-view>
</div>
<!-- The panel with links to the control and health panels -->
<panel-menu
        (toggleView)="onToggleView($event)"
        [view]="view"
        [linkUrl]="linkUrl"
        (filtersUpdated)="onFiltersUpdated($event)"></panel-menu>
<!-- The issue context menu -->
<issue-context-menu *ngIf="issueContextMenuData" [issueContextMenuData]="issueContextMenuData" [view]="view" (closeContextMenu)="onCloseIssueContextMenu($event)"></issue-context-menu>
<parallel-task-menu *ngIf="parallelTaskMenuData" [parallelTaskMenuData]="parallelTaskMenuData" (closeParallelTaskMenu)="onCloseParallelTaskMenu($event)"></parallel-task-menu>

