<div *ngIf="displayContextMenu" class="issue-context-menu"
     [ngStyle]="{'top': data.y, 'left' : data.x}">
    <div>
        <a href="move" (click)="onShowMovePanel($event)" class="context"><img src="images/move-2x.png" width="12px" height="12px" align="center"/>Move...</a>
    </div>
</div>

<div *ngIf="move" id="issue-move-panel" (window:resize)="onResize($event)"
        [style.top]="movePanelTop" [style.left]="movePanelLeft" [style.height]="movePanelHeight">
    <div class="header">
        <div class="header-text">Move {{issue.key}}</div>
        <div class="header-close-button">
            <a href="close" class="close" (click)="onClickClose($event)">X</a>
        </div>
    </div>

    <div class="content">
        <div class="issue-column">
            <issue [issue]="issue"></issue>
        </div>
        <div class="column">
            <div class="column-header">Select state:</div>
            <div class="states" [style.height]="statesColumnHeight">
                <div *ngFor="let state of moveStates" [ngClass]="state === toState ? 'entry-selected' : 'entry'">
                    <div class="rank">
                        <a href="rank" (click)="onSelectRankState($event, state)"
                           *ngIf="isValidRankState(state)"
                           title="Move to {{state}} and rank the issue">
                            <img src="images/resize-height-2x.png" width="12px" height="12px" align="center"/></a>
                        <span *ngIf="!isValidRankState(state)">&nbsp;</span>
                    </div>
                    <div *ngIf="isValidMoveState(state)" class="state-link">
                        <a href="{{state}}" (click)="onSelectMoveState($event, state)"
                           [ngClass]="state === toState ? 'entry-selected' : 'entry'"
                           title="Move to {{state}}"><b>{{state}}</b></a>
                    </div>
                    <span *ngIf="!isValidMoveState(state)" title="'{{state}}' is not a valid state for {{issue.projectCode}}"><i>{{state}}</i></span>
                </div>
            </div>
        </div>
        <div class="column" [hidden]="!issuesForState">
            <div class="column-header">Insert before:</div>
            <div class="issues" [style.height]="statesColumnHeight">
                <div *ngIf="toState"  class="entry end-entry">
                    <a href="move" (click)="onSelectRankIssue($event, '')"
                       [ngClass]="'' === insertBeforeIssueKey ? 'entry-selected' : 'entry'"><b>- END -</b></a>
                </div>
                <div>&nbsp;</div>
                <div *ngFor="let issue of issuesForState"
                     [ngClass]="isIssueSelected(issue) ? 'entry-selected' : 'entry'">
                    <a href="move" (click)="onSelectRankIssue($event, issue.key)" title="{{issue.key}} - {{issue.summary}}"
                       [ngClass]="isIssueSelected(issue) ? 'entry-selected' : 'entry'"><b>{{issue.key}}</b> - {{issue.summary}}</a>
                </div>
                <div class="entry"><b>FK-1</b> - Fake</div>
                <div class="entry"><b>FK-2</b> - Fake</div>
                <div class="entry"><b>FK-3</b> - Fake</div>
                <div class="entry"><b>FK-4</b> - Fake</div>
                <div class="entry"><b>FK-5</b> - Fake</div>
                <div class="entry"><b>FK-6</b> - Fake</div>
                <div class="entry"><b>FK-7</b> - Fake</div>
                <div class="entry"><b>FK-8</b> - Fake</div>
                <div class="entry"><b>FK-9</b> - Fake</div>
                <div class="entry"><b>FK-10</b> - Fake</div>
                <div class="entry"><b>FK-11</b> - Fake</div>
                <div class="entry"><b>FK-12</b> - Fake</div>
                <div class="entry"><b>FK-13</b> - Fake</div>
                <div class="entry"><b>FK-14</b> - Fake</div>
                <div class="entry"><b>FK-15</b> - Fake</div>
                <div class="entry"><b>FK-16</b> - Fake</div>
                <div class="entry"><b>FK-17</b> - Fake</div>
                <div class="entry"><b>FK-18</b> - Fake</div>
                <div class="entry"><b>FK-19</b> - Fake</div>
                <div class="entry"><b>FK-20</b> - Fake</div>
                <div class="entry"><b>FK-21</b> - Fake</div>
                <div class="entry"><b>FK-22</b> - Fake</div>
                <div class="entry"><b>FK-23</b> - Fake</div>
                <div class="entry"><b>FK-24</b> - Fake</div>
                <div class="entry"><b>FK-25</b> - Fake</div>

                </div>
        </div>
    </div>
</div>