<div *ngIf="displayContextMenu" class="issue-context-menu"
     [ngStyle]="{'top': data.y, 'left' : data.x}">
    <div>
        <a href="move" (click)="onShowMovePanel($event)"><img src="images/move-2x.png" width="12px" height="12px" align="center"/></a>
        <a href="move" (click)="onShowMovePanel($event)" class="context">Move...</a>
    </div>
    <div>
        <a href="comment" (click)="onShowCommentPanel($event)"><img src="images/comment-square-2x.png" width="12px" height="12px" align="center"/></a>
        <a href="comment" (click)="onShowCommentPanel($event)" class="context">Comment...</a>
    </div>
</div>

<div *ngIf="move" id="issue-move-panel" (window:resize)="onResize($event)"
        [style.top]="movePanelTop" [style.left]="movePanelLeft" [style.height]="movePanelHeight">
    <div class="header">
        <div class="header-text">Move {{issue.key}}</div>
        <div class="header-close-button">
            <a href="close" class="close" (click)="onClickClose($event)">X</a>
        </div>
    </div>

    <div class="content">
        <div class="issue-column">
            <issue [issue]="issue"></issue>
        </div>
        <div class="column">
            <div class="column-header">Select state:</div>
            <div class="states" [style.height]="statesColumnHeight">
                <div *ngFor="let state of moveStates" [ngClass]="state === toState ? 'entry-selected' : 'entry'">
                    <div class="rank">
                        <a href="rank" (click)="onSelectRankState($event, state)"
                           *ngIf="isValidRankState(state)"
                           title="Move to {{state}} and rank the issue">
                            <img src="images/resize-height-2x.png" width="12px" height="12px" align="center"/></a>
                        <span *ngIf="!isValidRankState(state)">&nbsp;</span>
                    </div>
                    <div *ngIf="isValidMoveState(state)" class="state-link">
                        <a href="{{state}}" (click)="onSelectMoveState($event, state)"
                           [ngClass]="state === toState ? 'entry-selected' : 'entry'"
                           title="Move to {{state}}"><b>{{state}}</b></a>
                    </div>
                    <span *ngIf="!isValidMoveState(state)" title="'{{state}}' is not a valid state for {{issue.projectCode}}"><i>{{state}}</i></span>
                </div>
            </div>
        </div>
        <div class="column" [hidden]="!issuesForState">
            <div class="column-header">Insert before:</div>
            <div class="issues" [style.height]="statesColumnHeight">
                <div *ngIf="toState"  class="entry end-entry">
                    <a href="move" (click)="onSelectRankIssue($event, '')"
                       [ngClass]="'' === insertBeforeIssueKey ? 'entry-selected' : 'entry'"><b>- END -</b></a>
                </div>
                <div>&nbsp;</div>
                <div *ngFor="let issue of issuesForState"
                     [ngClass]="isIssueSelected(issue) ? 'entry-selected' : 'entry'">
                    <a href="move" (click)="onSelectRankIssue($event, issue.key)" title="{{issue.key}} - {{issue.summary}}"
                       [ngClass]="isIssueSelected(issue) ? 'entry-selected' : 'entry'"><b>{{issue.key}}</b> - {{issue.summary}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="comment" id="issue-comment-panel" (window:resize)="onResize($event)"
     [style.top]="commentPanelTop" [style.left]="commentPanelLeft">
    <div class="header">
        <div class="header-text">Comment on {{issue.key}}</div>
        <div class="header-close-button">
            <a href="close" class="close" (click)="onClickClose($event)">X</a>
        </div>
    </div>
    <form (ngSubmit)="saveComment()" [ngFormModel]="commentForm" #f="ngForm">
        <div class="centered-form">
            <div class="comment-label">
                <label for="comment">Please note that all comments will be <b>public</b>! To make private comments, visit the Jira issue.</label>
            </div>
            <div class="comment-box">
                <textarea id="comment" ngControl="comment" style="width: 100%; height:100%;"></textarea>
            </div>
            <div class="comment-button">
                <button type="submit" class="comment-save-button" [disabled]="!f.form.valid">Save</button>
            </div>
        </div>
    </form>
</div>