.issue-context-menu {
    font-size: 13px;
    position: absolute;
    z-index: 10;
    padding: 3px;
    background-color: lightgrey;
    border-radius: 5px;
}
.issue-context-head {
    border-bottom: 1px solid #888888;
    width:100%;
}
a.context {
    color: black;
}

#issue-move-panel {
    border: 1px solid #888888;
    position: absolute;
    /* top, bottom, height will be calculated */
    width: 720px;
    z-index: 10;
    background-color: white;
    border-radius: 5px;
    opacity: .99;
}
.header {
    width: 100%;
    font-size: 13px;
    height: 15px;
    background-color: #777777;
    color: white;
    padding: 3px 0px;
}
.header-text {
    width: 95%;
    text-align: center;
    float: left;
}
.header-close-button {
    width: 18px;
    text-align: right;
    float: right;
    font-weight: bold;
    padding-right: 3px;
}
a.close {
    color: #FFFFFF;
}
.content {
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
    font-size: 11px;
}
.issue-column {
    float: left;
    width: 230px;
    vertical-align: center;
    padding-right: 8px;
    opacity: 1;
}
.column {
    font-size: 11px;
    color: #777777;
    float: left;
    padding: 10px 10px 0px 3px;
    overflow:hidden;
}
.column-header {
    height: 15px;
    max-height: 15px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
}
.states {
    /** Need to calculate the height */
    width:150px;
    overflow-y: scroll;
    white-space: nowrap;
}
.issues {
    /** Need to calculate the height */
    width:300px;
    overflow-y: scroll;
    white-space: nowrap;
}
.entry {
    white-space: nowrap;
    overflow: hidden;
}
.entry-selected {
    white-space: nowrap;
    overflow: hidden;
    background-color: #444444;
}
a.entry {
    color: #444444;
}
a.entry-selected {
    color: #FFFFFF;
}
.rank {
    display: inline-block;
    min-width: 15px;
    max-width: 15px;
}
.state-link {
    display: inline-block;
    text-align: left;
}
#issue-comment-panel {
    border: 1px solid #888888;
    position: absolute;
    font-size: 11px;
    top:20px;
    bottom:20px;
    height:270px;
    /* top and left will be calculated */
    width: 600px;
    z-index: 10;
    background-color: white;
    border-radius: 5px;
    opacity: .99;
}
.centered-form {
    text-align: center;
    height: 100%;
}
.comment-label {
    height: 15px;
}
.comment-box {
    width: 600px;
    height: 205px;
}
.comment-button {
    height: 25px;
    vertical-align: middle;
}
.comment-save-button {
    height: 20px;
    font-size: 11px;
}
